################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/twkelat.metadata.v7.bin
/.vs/ProjectEvaluation/twkelat.projects.v7.bin
*.config
*.vsidx
/.vs/Twkelat/v17/.futdcache.v2
/Twkelat.Core/obj/Debug/net8.0/Twkelat.Core.AssemblyInfo.cs
/Twkelat.Core/obj/Debug/net8.0/Twkelat.Core.AssemblyInfoInputs.cache
/Twkelat.Core/obj/project.assets.json
/Twkelat.Core/obj/Twkelat.Core.csproj.nuget.dgspec.json
/.vs/Twkelat/DesignTimeBuild/.dtbcache.v2
/.vs/Twkelat/FileContentIndex/5182c469-3418-4ed3-b2bb-a7b29b9231a1.vsidx
/.vs/Twkelat/FileContentIndex/8c98fbc9-8d28-4acb-8a7e-ca2c85a97c29.vsidx
/.vs/Twkelat/FileContentIndex/952fd78d-acea-4190-9dd8-7879c41ef883.vsidx
/.vs/Twkelat/FileContentIndex/994e5c9a-662b-40b1-95af-82d1bc5d5613.vsidx
/.vs/Twkelat/FileContentIndex/c9b424ac-045c-4a37-a1b9-e10096d1c85b.vsidx
/Twkelat.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Twkelat.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/Twkelat.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Twkelat.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Twkelat.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/Twkelat.Core/bin/Debug/net8.0/Twkelat.BusinessLogic.dll
/Twkelat.API/Program.cs
/.vs/Twkelat/DesignTimeBuild/.dtbcache.v2
/.vs/Twkelat/DesignTimeBuild/.dtbcache.v2
/Twkelat.API/bin/Debug/net8.0/Twkelat.API.dll
/Twkelat.API/bin/Debug/net8.0/Twkelat.API.exe
/.vs/ProjectEvaluation/twkelat.metadata.v7.bin
/.vs/ProjectEvaluation/twkelat.projects.v7.bin
/.vs/Twkelat/v17/.futdcache.v2
/.vs/Twkelat/v17/DocumentLayout.json
/Twkelat.API/bin/Debug/net8.0/Twkelat.API.pdb
/Twkelat.API/bin/Debug/net8.0/Twkelat.BusinessLogic.dll
/Twkelat.API/bin/Debug/net8.0/Twkelat.BusinessLogic.pdb
/Twkelat.API/bin/Debug/net8.0/Twkelat.EF.dll
/Twkelat.API/bin/Debug/net8.0/Twkelat.EF.pdb
/Twkelat.API/bin/Debug/net8.0/Twkelat.Persistence.dll
/Twkelat.API/bin/Debug/net8.0/Twkelat.Persistence.pdb
/Twkelat.API/obj/Debug/net8.0/Twkelat.API.AssemblyInfo.cs
/Twkelat.API/obj/Debug/net8.0/Twkelat.API.AssemblyInfoInputs.cache
/Twkelat.API/obj/Debug/net8.0/Twkelat.API.csproj.AssemblyReference.cache
/Twkelat.API/obj/Debug/net8.0/Twkelat.API.dll
/Twkelat.API/obj/Debug/net8.0/Twkelat.API.pdb
/Twkelat.API/obj/Debug/net8.0/Twkelat.API.sourcelink.json
/Twkelat.Core/bin/Debug/net8.0/Twkelat.BusinessLogic.pdb
/Twkelat.Core/bin/Debug/net8.0/Twkelat.Persistence.dll
/Twkelat.Core/bin/Debug/net8.0/Twkelat.Persistence.pdb
/Twkelat.Core/obj/Debug/net8.0/ref/Twkelat.BusinessLogic.dll
/Twkelat.Core/obj/Debug/net8.0/refint/Twkelat.BusinessLogic.dll
/Twkelat.Core/obj/Debug/net8.0/Twkelat.BusinessLogic.AssemblyInfo.cs
/Twkelat.Core/obj/Debug/net8.0/Twkelat.BusinessLogic.AssemblyInfoInputs.cache
/Twkelat.Core/obj/Debug/net8.0/Twkelat.BusinessLogic.csproj.AssemblyReference.cache
/Twkelat.Core/obj/Debug/net8.0/Twkelat.BusinessLogic.dll
/Twkelat.Core/obj/Debug/net8.0/Twkelat.BusinessLogic.pdb
/Twkelat.Core/obj/Debug/net8.0/Twkelat.BusinessLogic.sourcelink.json
/Twkelat.Persistence/obj/Debug/net8.0/refint/Twkelat.Persistence.dll
/Twkelat.Persistence/obj/Debug/net8.0/Twkelat.Persistence.AssemblyInfo.cs
/Twkelat.Persistence/obj/Debug/net8.0/Twkelat.Persistence.AssemblyInfoInputs.cache
/Twkelat.Persistence/obj/Debug/net8.0/Twkelat.Persistence.csproj.AssemblyReference.cache
/Twkelat.Persistence/obj/Debug/net8.0/Twkelat.Persistence.dll
/Twkelat.Persistence/obj/Debug/net8.0/Twkelat.Persistence.pdb
/Twkelat.Persistence/obj/Debug/net8.0/Twkelat.Persistence.sourcelink.json
/Twkelat.EF/obj/Debug/net8.0/ref/Twkelat.EF.dll
/Twkelat.EF/bin/Debug/net8.0/Twkelat.EF.dll
/Twkelat.EF/bin/Debug/net8.0/Twkelat.EF.pdb
/Twkelat.EF/bin/Debug/net8.0/Twkelat.Persistence.dll
/Twkelat.EF/bin/Debug/net8.0/Twkelat.Persistence.pdb
/Twkelat.EF/obj/Debug/net8.0/refint/Twkelat.EF.dll
/Twkelat.EF/obj/Debug/net8.0/Twkelat.EF.AssemblyInfo.cs
/Twkelat.EF/obj/Debug/net8.0/Twkelat.EF.AssemblyInfoInputs.cache
/Twkelat.EF/obj/Debug/net8.0/Twkelat.EF.csproj.AssemblyReference.cache
/Twkelat.EF/obj/Debug/net8.0/Twkelat.EF.dll
/Twkelat.EF/obj/Debug/net8.0/Twkelat.EF.pdb
/Twkelat.EF/obj/Debug/net8.0/Twkelat.EF.sourcelink.json
/Twkelat.Persistence/bin/Debug/net8.0/Twkelat.Persistence.dll
/Twkelat.Persistence/bin/Debug/net8.0/Twkelat.Persistence.pdb
/Twkelat.Persistence/obj/Debug/net8.0/ref/Twkelat.Persistence.dll
/.vs/Twkelat/v17/.suo
/Twkelat.API/obj/Debug/net8.0/apphost.exe
/Twkelat.API/obj/Debug/net8.0/refint/Twkelat.API.dll
/Twkelat.API/obj/Debug/net8.0/ref/Twkelat.API.dll
/Twkelat.Persistence/obj/Debug/net8.0/Twkelat.Persistence.csproj.CoreCompileInputs.cache
/Twkelat.EF/obj/Debug/net8.0/Twkelat.EF.csproj.CoreCompileInputs.cache
